<script src="/js/main.js"></script>
<% if (locals.alertError && locals.alertError.msg){ %>
    <script>window.alert("<%= locals.alertError.msg  %>");</script>
<% } %>
<span><%= locals.username ? username : '' %></span>
</body>
</html>