<script src="/js/main.js"></script>
<% if (locals.alertError && locals.alertError.msg){ %>
    <script src="pub/js/footer.js"/ language="text/javascript" />
<% } %>
<div class="footer">
    <hr/>
    <span class="footer"><%= locals.sessionData ? sessionData.sessionfooter.username + ' (' + sessionData.sessionfooter.email + ')' : '' %></span>
</div></body>
</html>