<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/styles/main.css">
    <% if( locals.CSS && CSS.formsCSS ){ %>
        <link rel="stylesheet" href="/styles/forms.css"/>
    <% }
    if( locals.CSS && CSS.cartCSS ){ %>
        <link rel="stylesheet" href="/styles/cart.css"/>
    <% }
    if( locals.CSS && CSS.authCSS ){ %>
        <link rel="stylesheet" href="/styles/auth.css"/>
    <% }
    if( locals.CSS && CSS.ordersCSS ){ %>
        <link rel="stylesheet" href="/styles/orders.css"/>
    <% }
    if( locals.CSS && CSS.productCSS ){ %>
        <link rel="stylesheet" href="/styles/product.css"/>
    <% } %>
</head>

